body {
    font-family: Arial;
    background: #fff9e9;
    padding: 20px;
}

h1 {
    color: #ffb300;
}

.chat-box {
    width: 90%;
    height: 400px;
    border-radius: 10px;
    background: white;
    padding: 10px;
    overflow-y: scroll;
    margin-bottom: 15px;
    border: 2px solid #ffd36b;
}

.user-msg {
    background: #fff4c2;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    text-align: right;
}

.ai-msg {
    background: #dff6ff;
    padding: 10px;
    margin: 8px 0;
    border-radius: 10px;
    text-align: left;
}

.input-area {
    display: flex;
}

textarea {
    width: 80%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
}

button {
    width: 80px;
    margin-left: 10px;
    border-radius: 8px;
    background: #ffc83d;
    border: none;
    font-size: 16px;
}
